{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "v14.17.1"
      }
    }]
  ],
  "plugins": [

  ],
  "env": {
    "production": {
      "plugins": [

      ]
    }
  }
}
